*{
    margin: 0;
    padding: 0;
    top: 0;
}
body {
    
    padding: 25px;
    background: url('../images/back.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    
  }
  #btn{
    width: 181px;
    margin: auto
  }
  html{
    scroll-behavior: smooth;
  }
  #yoo{
    width:486px;
    margin: auto;
  }

#yoo a{
    text-decoration: none;
    width: 431px;
    margin: auto;
    color: white;
    font-size: 6em;
    
}
#yup{
    background-color: black;
    height: 42em;
    width: 42em;
    border: 2px black solid;
    background: url('../images/gali.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: -3em;
    margin-left: 26em;
}
#yup h3{
    text-align: center;
    color: white;
    margin-top: 19em;
}